*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "WF Visual Sans";
    
}
html,body{
    width: 100%;
    height: 100%;
}

/* Nav Bar */
#nav{
    width: 100%;
    height: 13vh;
    /* background-color: violet; */
    display: flex;
    align-items: center;
}
#nav img{
    height: 80%;
    margin: 0 3vw;
}
#nav-part{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#nav-part-1{
    display: flex;
    align-items: center;
    gap: 2vw;
}
#nav-part-1 h2{
    margin: 0 0.6vw;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;

}
#nav-part-1 h2 i {
    margin-left: 0.1vw;
}
#nav-part-2{
    margin-right: 3vw;
    display: flex;
    gap: 1vw;
}
#nav-part-2 button{
    font-size: 1.1vw;
    padding: 0.8vw 1.2vw;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: #fff;
    font-weight: 300;
}
#nav-part-2 button:nth-child(1){
    color: #000;
    background: transparent;
}
#nav-menu-icon{
    opacity: 0;
}
@media (max-width:600px){
    #nav-part{
    justify-content: end;
}
    #nav-part-1{
        display: none;
    }
#nav-part-2 button{
    font-size: 3.1vw;
    padding: 1.6vw 4.2vw;
}
#nav-menu-icon{
    font-size: 8vw;
    opacity: 1;
}  
}

/* Hero Section */

#hero-sec{
    height: 80vh;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}
#hero-1{
    width: 50%;
    height: 100%;
    padding: 0 4vw;
}
#hero-1 h1{
    font-size: 4vw;
    line-height: 4.5vw;
}
#hero-1 h3{
    margin-top: 1.5vw;
    font-size: 1.5vw;
    font-weight: 200;
}
#hero-2{
    width: 50%;
    height: 95%;
    padding: 1.5vw;
    /* background-color: red; */
}
#hero-2 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8%;
}
#hero-sec-btn{
    margin-top: 3vw;
}
#hero-sec-btn button{
    margin-right: 0.6vw;
    font-size: 1vw;
    padding: 0.8vw 1vw;
    border-radius: 50px;
    border: none;
    background-color: transparent;
}
#hero-sec-btn button:hover{
    background-color: #000;
    color: #F3F3F6;
}
#hero-sec-btn button i{
    margin-right: 0.3vw;
}

#hero-sec-1{
    margin-top: 1vw;
    margin-left: .2vw;
    width: 85%;
    padding: .2vw 0 .2vw .2vw;
    border: none;
    border-radius: 40px;
    background-color: #F3F3F6;
}
#hero-sec-1 input{
    width: 90%;
    font-size: 1vw;
    padding: 0.8vw 0.4vw;
    background-color: transparent;
    border: none;
}
#hero-sec-1:hover{
    border: 2px solid #FAEBF9;
}
#hero-sec-1 button{
    font-size: 1vw;
    padding: 0.4vw 0.6vw;
    border-radius: 50%;
    border: none;
    background-color: #EC5E95;
    color: #F3F3F6;
}
#hero-sec-2{
    margin-top: 1vw;
}
#hero-sec-2 span{
    font-size: 1.5vw;
    margin-right: 0.4vw;
}
#hero-sec-2 button{
    margin-right: 0.4vw;
    font-size: 0.8vw;
    padding: 1vw 1.2vw;
    border-radius: 50px;
    border: 1px solid grey;
    background: transparent;
}

@media (max-width:600px){

    #hero-sec{
    height: fit-content;
    text-align: center;
}
#hero-1{
    /* background-color: blue; */
    width: 100%;
    margin-top:6vw ;
}
#hero-1 h1{
    font-size: 11vw;
    line-height: 11.6vw;
    letter-spacing: .4vw;
}
#hero-1 h3{
    margin-top: 5vw;
    font-size: 5.5vw;
}
#hero-2{
    display: none;
}
#hero-sec-btn{
    flex-wrap: nowrap;
    margin-top: 5vw;
}
#hero-sec-btn button{
    margin-right: 8vw;
    font-size: 4.5vw;
    padding: 2.8vw 3.8vw;
}
#hero-sec-btn button i{
    margin-right: 0.8vw;
}

#hero-sec-1{
    text-align: center;
    margin-top: 4.5vw;
    margin-left: .8vw;
    width: 100%;
    padding: 3.2vw 0 3.2vw 3.2vw;
}
#hero-sec-1 input{
    font-size: 4vw;
    padding: 0.8vw 0.4vw;
    outline: none;
}
#hero-sec-1 button{
    font-size: 3vw;
    padding: 1.4vw 1.8vw;
}
#hero-sec-2{
    margin-top: 5vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}
#hero-sec-2::-webkit-scrollbar{
    width: 0%;
    height: 0%;
}

#hero-sec-2 span{
    font-size: 5vw;
    margin-right: 1.8vw;
}
#hero-sec-2 button{
    flex-shrink: 0;
    margin-right: 1.8vw;
    font-size: 3.8vw;
    padding: 1.7vw 2.8vw;
}
}

/* Hero Bottom */
#hero-bottom{
    width: 98%;
    height: 16vh;
    background-color: #F8F8FC;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
}
#hero-bottom button{
    font-size: 1vw;
    padding: 1vw 1.8vw;
    margin-left: 3vw;
    margin-right: 2vw;
    position: relative;
    border-radius: 40px;
    border: none;
}
#hero-bottom button i{
    font-size:1.4vw ;
    font-weight: 600;
    margin-right: 0.4vw;
    color:#9E77D1;
}
#hero-bottom button sup{
    position: absolute;
    top: 5%;
    right: -10%;
    font-size: 0.9vw;

    color: #fff;
    background-color: #EC5E95;
    border-radius: 40px;
    padding: .2vw .4vw;
}
#hero-bottom p{
    font-size: 1vw;
    letter-spacing: 0.015vw;
    font-family: "WF Visual Sans";
}
@media (max-width:600px){
    #hero-bottom{
    width: 98%;
    height: 18vh;
    /* background-color: #F8F8FC; */
    /* background-color:red; */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 1.5vw;
    margin-top: 2vw;
}
#hero-bottom button{
    font-size: 3vw;
    padding: 2vw 2.8vw;
    margin-top: 2vw;
}
#hero-bottom button i{
    font-size:3.4vw;
    margin-right: 0.8vw;
}
#hero-bottom button sup{
    right: -6%;
    font-size: 1.5vw;
    padding: .4vw .8vw;
}
#hero-bottom p{
    margin-left: 4vw;
    font-size: 3vw;
}
}